<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weather App</title>
  </head>

  <body>
    {{>header}}
    <img src="/images/headshot.jpeg" class="about-img" alt="Andrew" />
    {{>footer}}
  </body>
</html>