<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weather App | About</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main">
      {{>header}}

      <p>
        This site was created by Andrew as part of Andrew Mead's NodeJS Udemy course.
        It geocodes an address using the Mapbox API and retrieves a forecast from the
        WeatherStack API.
      </p>

      <img src="/images/headshot.jpeg" class="about-img" alt="Andrew" />
    </div>

    {{>footer}}
  </body>
</html>